/.ghc.environment.*
/.hsenv
/.vscode/
*_flymake.hs
*.aux
*.hi
*.hp
*.iml
*.o
*.pdf
*.prof
*.ps
*.refactored.hs
*.swp
*.tag
*~
/.dir-locals.el
/.idea/
/.ideaHaskellLib/
/.stack-work/
/*.html
/*.prof
/cabal.config
/dist-new/
/dist-newstyle/
/dist/
/TAGS
/cabal.project.local
/result*
/src/**/*.c
